<%= render partial: 'form', locals: {app: @pending,
                                     path: "/shelters/#{@shelter.id}",
                                     shelter: @shelter,
                                     form_method: :patch,
                                     action: "Edit",
                                     button: "Update Shelter"} %>
<h2><%= link_to "#{@shelter.name}", "shelters/#{@shelter.name}" %></h2>
