<%= render partial: 'shared/admin_nav' %>

<h1>Admin Application Approval Page</h1>
<section class="stats">
<h4>Applicant Name: <%= @application.name %></h4>
<h4>Application Status: <%= @application.status_check %></h4>
</section>

<h3>Pets on Application</h3>

<%= render partial: 'app_pets', locals: {pet_apps: @pet_apps, the_app: @application} %>
