<section id="pet_section">
  <h3>Pets I'm applying for: </h3>
  <% app.pets.uniq.each do |pet| %>
  <div class="pet" id="pet-<%= pet.id %>">
    <ul>
      <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
    </ul>
    <% end %>
  </section>
