<%= render partial: 'shared/admin_nav' %>

<h1>Admin Page</h1>

<h2>All Shelters</h2>

<%= render partial: 'shelters', locals: {list: @shelters} %>

<%= render partial: 'shelters_pending', locals: {app: @pending} %>
